body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
body {
  overflow-x: hidden;
}
.nav-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #009de0;
  margin-left: 20px;
}

.address-selector-container {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(214, 239, 250);
  margin-left: 15px;
}
.address-selector-icon {
  fill: rgb(0, 157, 224);
  height: 25px;
}
.dropdown-icon-container {
  /* width: 20px;
  height: 20px; */
  fill: #009de0;
  display: flex;
  align-items: center;
}
.location,
.dropdown-icon-container {
  margin-left: 20px;
}
.dropdown-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.left-bar {
  display: flex;
  justify-content: space-around;
}

.city {
  font-size: 18px;
  margin: 20px;
}

.nav-search {
  border-radius: 30px;
  border: none;
  padding: 0px 40px;
  background-color: #e4e4e4;
  font-size: 16px;
  padding: 12px 60px 12px 10px;
  display: flex;
  justify-content: flex-start;
}
.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.nav-search-input {
  border: none;
  background-color: #e4e4e4;
  color: rgba(32, 33, 37, 0.2);
  margin-left: 10px;
}

.right-bar {
  display: flex;
  justify-content: space-between;
}

.logIn-button {
  border: none;
  background-color: white;
  font-size: 16px;
  padding-right: 20px;
}

.register-button {
  border-radius: 7px;
  padding: 12px;
  color: #009de0;
  background-color: #ebf7fd;
  border: none;
  font-size: 18px;
}

.second-nav {
  display: flex;
  justify-content: center;
}

.esittely-button {
  border-radius: 20px;
  border: none;
  background-color: #009de0;
  color: white;
  /* width: 130px; */
  font-size: 18px;
  padding: 10px 20px;
}

.ravintolat-button {
  border-radius: 20px;
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  border: none;
  color: #202125a3;
  padding: 10px 20px;

  font-size: 18px;
}
.ravintolat-icon {
  width: 25px;
  height: 20px;
}
.ravintolat-text {
  margin-left: 10px;
}

.esittely-button {
  display: flex;
  justify-content: center;
  border: none;
  color: #202125a3;
  background-color: rgb(0, 157, 224);
  color: white;

  font-size: 18px;
}
.esittely-icon {
  width: 25px;
  height: 20px;
}
.esittely-text {
  margin-left: 10px;
}

.hero-banner-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: -350px;
  margin-right: -350px;
}

.hero-lounas,
.hero-kruoka,
.hero-burger {
  height: 337px;
  width: 599px;
}
.hero-lounas-image,
.hero-kruoka-image,
.hero-burger-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.freeship-section-container,
.wolt-articles,
.restaurant-categories {
  margin-top: 50px;
  padding: 0px 30px;
  .heading {
    display: flex;
    justify-content: space-between;
  }
  .left-corner {
    font-size: 30px;
    font-weight: 600;
  }
  .right-corner {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #009de0;
    align-items: center;
    background-color: transparent;
  }

  .right-corner-buttons {
    margin-left: 30px;
  }
  .left-button,
  .right-button {
    fill: #009de0;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(214, 239, 250);
    border-radius: 50%;
  }
  .arrow-icon {
    width: 50%;
  }
}
.right-corner {
  background-color: black;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
/* .cards > :last-child {
  margin-right: 0;
} */
.cards > :first-child {
  margin-left: 0;
}
/* .card:first-child {
  margin-left: 0;
} */
.card {
  position: relative;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 0px 1px 0px;
}

.banner-image {
  height: 200px;
  width: auto;
  background-size: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border: none;
}
#mcdonald {
  background-image: url(https://imageproxy.wolt.com/mes-image/8695de58-c638-437d-a314-ad0ee5bc530f/2c3dbb05-f61a-429a-9338-b5c22f38b408?w=960);
}
#tacobell {
  background-image: url(https://imageproxy.wolt.com/venue/5ba4c27fc541b0000c1d15c3/daf4ef52-0044-11ee-909c-ba2329c6a805_taco_bell.png?w=600);
}
#doner {
  background-image: url(https://imageproxy.wolt.com/venue/6348098a9157ab2b10bdaf65/ed84f6b2-cfca-11ed-9ea9-eaff034c64f7_bastard_burgers_list_image.jpg?w=600);
}
.restaurant-name {
  font-size: 26px;
  margin-bottom: 0px;
}
.restaurant-menu {
  font-size: 16px;
  color: #6f6f71;
  margin: 10px 0px;
}
.restaurant-details {
  display: flex;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  border-bottom: dashed 1px;
  border-color: #c0c0c1;
}
.delivery-time {
  color: #009de0;
  border: none;
  background-color: #ebf7fd;
  height: 60px;
  align-items: center;
  border-radius: 10px;
  width: 80px;
  text-align: center;
  padding: 4px 8px;
  margin-left: 22px;
}

.delivery-and-rating {
  display: flex;
  /* justify-content: flex-start; */
  margin-left: 12px;
  padding: 8px 6px;
  align-items: center;
}
.delivery-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wolt-logo {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.price {
  margin-left: 5px;
  color: #009de0;
}
.euro-faded {
  color: #c0c0c1;
}
.euro-icon {
  margin-left: 6px;
  display: flex;
  justify-content: space-between;
}
.emoji {
  /* width: 20px; */
  height: 14px;
  display: flex;
  align-items: center;
}
.emoji-icon {
  display: flex;
  align-items: center;
  margin-left: 6px;
  justify-content: space-between;
}
.rating {
  margin-left: 6px;
  color: #6f6f71;
}
.dot-divider {
  margin-left: 6px;
}
#edenred {
  background-size: cover;
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/cities/helsinki/sections/b02278d8-af2a-11ec-b7f0-961bca59108e_staying_in__1n8a7860.jpg?w=600);
}
#together {
  background-size: cover;
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/cities/helsinki/sections/cecf469c-af2c-11ec-a121-d2362c4c5918_order_together.jpg?w=600);
}
#woltForWork {
  background-size: cover;
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/content_editor/banners/images/0f6f573a-bf2d-11ed-a9b2-8e429491a7d6_e7416fe0_deec_47b7_a899_75393a1ddcb3.jpg?w=600);
}
#salaatti {
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/categories/fd1d18e0-c5a8-11ea-8a78-822e244794a0_a1852dc9_4afb_4877_9659_793adcb0f87b.jpg-md?w=300);
  background-size: cover;
}
#hampurilainen {
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/categories/a69b5aea-c5a8-11ea-9f48-2e3b484a03e4_0b2c3eb5_ae95_4bff_9144_7f7c93ea74f9.jpg-md?w=300);
  background-size: cover;
}
#kebab {
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/categories/61c5a0aa-c5a9-11ea-b203-822e244794a0_b1f2d35b_6090_49f3_bd1e_66d9f0593a1c.jpg-md?w=300);
  background-size: cover;
}
#katuruoka {
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/categories/1093c864-c5af-11ea-a1b0-c287d2abdf0c_f5eebede_7252_4ec8_8e13_3fa12d8e7eac.jpg-md?w=200);
  background-size: cover;
}
#leipa {
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/categories/3b15b7ec-c5a9-11ea-b203-822e244794a0_f9f6d726_a28a_40f1_9d3f_76d3ed1528c7.jpg-md?w=600);
  background-size: cover;
}
#japanilainen {
  background-image: url(https://imageproxy.wolt.com/wolt-frontpage-images/categories/a2c61604-c5b1-11ea-b203-822e244794a0_a084bfe5_5b14_4fec_9b8b_f20dadbc3495.jpg-md?w=600);
  background-size: cover;
}
.article-image {
  height: 337px;
  width: 599px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

/* .article-image:first-child {
  margin-left: 0;
} */
.articles > :first-child {
  margin-left: 0;
}
.articles {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
.article-image {
  border-radius: 16px;
  padding: 30px 30px;
  width: 400px;
  height: 225px;
}
.article {
  color: #ffffff;
  font-size: 14px;
  opacity: 0.8;
}
.article-title {
  color: #ffffff;
  margin-top: 24px;
}
.title-1 {
  font-size: 24px;
  font-weight: 500;
}
.title-2 {
  font-size: 18px;
  font-weight: 250;
  margin-top: 24px;
}
.restaurant-categories {
  margin-bottom: 26px;
}
.categories-cards {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}
.categories-cards > :first-child {
  margin-left: 0;
}
.categories-card {
  border-radius: 16px;
  border: none;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 0px 1px 0px;
}

.categories-image {
  width: 176px;
  height: 176px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.categories-name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 14px;
}
.categories-places {
  margin-left: 14px;
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #6f6f71;
}
.voucher-logo {
  width: 14px;
  fill: white;
  height: auto;
}
.freeship-title {
  display: flex;
  justify-content: flex-start;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #009de0;
  font-size: 16px;
  text-align: center;
  position: absolute;
  padding: 4px 8px;
  top: 20px;
  left: 20px;
}
.freeship-details {
  padding-left: 6px;
  /* padding-right: 10px; */
}
